body{

	background-color: #00CED1;
	color: #black; 
	margin-left: 10%;
	margin-right: 10%;
}

h1{

	color: 	#4B0082;
	text-align: center;
}

h2{
	color: #fff;
	text-align: justify;
}


