body{

	background-color: #00BFFF;
	color: #black; 
	margin-left: 10%;
	margin-right: 10%;
	font-family: 'Dancing Script', cursive
}

h1{

	color: 	#FFFAF0;
	text-align: center;
	;
}

h2{
	color: #FFFAF0;
	text-align: justify;
}

p{
	font-size: 22px;
	text-align: justify;
	
}

img{
	width: 70%;
}

figure{

	text-align: center;
}

ul{
	font-size: 22px
}


